# Directories
cache
coverage
node_modules
out

# Files
*.env
*.log
.DS_Store
.pnp.*
lcov.info
lcov-filtered.info
package-lock.json
pnpm-lock.yaml
yarn.lock

# Ignores development broadcast logs
!broadcast
broadcast/*
broadcast/*/31337/